# Ignorar archivos compilados de Python
*.pyc
__pycache__/
# Ignorar archivos de configuración o logs
*.log
*.pkl
# Ignorar archivos específicos del proyecto
/data.xlsx
/$data_filtrada.xlsx
/~$data_filtrada.xlsx
/data_filtrada.xlsx
/directorio.xlsx
/venv
/whatsapp_cookies.pkl
/whatsapp_message_sender.log
chrome-data/First Run
chrome-data/Local State
chrome-data/Default/Preferences
PyWhatKit_DB.txt
chrome-data-KBOxkT7k/First Run
chrome-data-KBOxkT7k/Local State
chrome-data-KBOxkT7k/Default/Preferences
chrome-data-vWSDiHk6/First Run
chrome-data-vWSDiHk6/Local State
chrome-data-vWSDiHk6/Default/Preferences
chrome-data-Z5eT7Vzh/First Run
chrome-data-Z5eT7Vzh/Local State
chrome-data-Z5eT7Vzh/Default/Preferences
