# Ignorar archivos compilados de Python
*.pyc
__pycache__/
# Ignorar archivos de configuración o logs
*.log
*.pkl
# Ignorar archivos específicos del proyecto
/data.xlsx
data.xlsx
/$data_filtrada.xlsx
/~$data_filtrada.xlsx
/data_filtrada.xlsx
data_filtrada.xlsx
/directorio.xlsx
directorio.xlsx
/venv
/whatsapp_cookies.pkl
/whatsapp_message_sender.log
chrome-data/
PyWhatKit_DB.txt
chrome-data/
chrome-data-*
*.ipynb filter=strip-output
